
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;700&family=Lexend+Deca:wght@400;700&display=swap');
*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}
body{
    font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif;
    display:flex;
    justify-content: center;
    margin-top: 50px;
    
    
}
.cards{
    margin-top: 40px;
    display:flex;

    width:50%;
}
.sedan{
    background-color: hsl(31, 77%, 52%);
    padding:20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
}
.suv{
    background-color: hsl(184, 100%, 22%);
    padding:20px;
}
.luxury{
    background-color: hsl(179, 100%, 13%);
    padding:20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.car1{
    padding-top: 20px;
    padding-bottom: 20px;

}

.car2 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.car3{
    padding-top: 20px;
    padding-bottom: 20px;
}
 p{
    font-family: 'Lexend Deca', sans-serif;
    padding-bottom: 70px;
    padding-top: 20px;
}
 h1{
    font-family: 'Big Shoulders Display', cursive;
     text-transform: uppercase;
    font-weight: 400;
    color:hsl(0, 0%, 95%);
    font-size: 30px;
    

    }

    p{
        color:hsla(0, 0%, 100%, 0.75);
        font-size: 15px;
        padding-bottom: 60px;
    }
    .car-button1{
        width:7rem;
        border-radius: 25px;
        padding:7px;
        background-color: white;
        border:none;
        padding-bottom: 10px;
        color: hsl(31, 77%, 52%);;
    }
    .car-button2{
        width:7rem;
        border-radius: 25px;
        padding:7px;
        background-color: white;
        border:none;
        padding-bottom: 10px;
        color: hsl(184, 100%, 22%);
    }
    
    .car-button3{
        width:7rem;
        border-radius: 25px;
        padding:7px;
        background-color: white;
        border:none;
        padding-bottom: 10px;
        color: sl(179, 100%, 13%);
    }
